* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.button {
  display: inline-block;

  font-size: 16px;
  font-weight: 600;
  line-height: 160%;

   color: #fff;
  background-color: #3a71d1;
  padding: 25px 60px;

  border: none;

  cursor: pointer;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.mobile-menu {
  display: none;
}

/*************** HEADER ***************/
.header {
  padding-top: 94px;
}
.header-image {
  background-image: url(../img/header_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 3.008px;
  position: relative;
}
.header-image::before {
  content: "";

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  background-color: rgba(41, 45, 51, 0.6);
}

.navbar {
  display: flex;
  align-items: center; 

  color: #fff;
  height: 94px;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;

  border-bottom: .0625rem solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  color: #292d33;
  background-color: #fff;
  height: 72px;
}
.navbar-light .header-logo-path {
  fill: #292d33;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0 50.2px 0 49.4px;
  border-right: .0625rem solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.logo {
    display: none;
  }
.header-logo .logo-svg {
  width: 140px;
  height: 44px;
}
.header-nav {
  flex-basis: 100%;

  display: flex;
  align-items: center;
  height: 100%;

  list-style: none;

  padding: 0 50px;
  margin: 0;
}
.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-nav-item:not(:last-child) {
  margin-right: 51px;
}
.header-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
  letter-spacing: .0063rem;
  position: relative;
  
}
.header-nav-link::after {
  content: "";
  width: 100%;
  height: .125rem;
  position: absolute;
  bottom: -0.0625rem;
  background-color: #5C8EE5;
  transform: scaleX(0);
  transition: transform 0.2s;
}
.header-nav-link:hover::after {
  transform: scaleX(1);
}
.header-phone {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: 10px;

  margin-right: 52px;
}
.phone-icon {
  fill: #5C8EE6;
}
.header-phone-link {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}
.navbar-button {
  height: 100%;

  padding: 25px 38px 25px 52px;

  flex-shrink: 0;  
}
.navbar-button .button-icon {
  display: none;
}


/*************** HEADER-CONTENT ***************/
.header-container {
  padding-left: 10px;
}
.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: #fff;
}
.seporator {
  width: 150px;
  height: .125rem;
  background: #5C8EE5;
}
.header-title {
  max-width: 1080px;

  font-family: 'Bebas Neue';

  font-size: 79px;
  line-height: 120%;

  margin: 23px 0 40px 0;

  letter-spacing: .9008px;
}
.header-text {
  max-width: 720px;

  font-size: 16px;
  font-weight: 400;
  line-height: 160%;

  margin-bottom: 50px;

  letter-spacing: .0063rem;
}
.header-button {
  padding: 26px 60px;
}



/*************** HEADER-FEATURES ***************/
.header-features {
  min-height: 168px;

  display: flex;

  padding: 0;
  margin-top: 99px;

  list-style: none;
  color: #fff;

  position: relative;
}
.header-features-item {
  max-width: 99.9%;
  height: auto;
  padding: 30px 50px 10px 50px;
  border: .0625rem solid rgba(235, 235, 240, 0.2);
}
.header-features-text {
  font-size: 16px;
  line-height: 160%;
}


.slider-buttons {
  display: none;
  height: 2.75rem;
}

.slider-button-prev,
.slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: .0625rem solid rgba(235, 235, 240, 0.2);
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}



/*************** SECTION-LIGHT ***************/
.section-steps {
  margin-top: 134px;
  margin-bottom: 129.2px;
}
.section-container {
  padding-left: 9px;
}
.section-title {
  font-family: 'Bebas Neue';
  font-size: 60px;
  line-height: 120%;
  color: #292d33;
  margin-top: 24px;
  margin-bottom: 37px;
}

.steps-slider {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.steps {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin-bottom: 20.8px;
}

.primary-buttons-wrapper {
  display: flex;
  width: 160px;
  height: 60px;
}
.primary-button-prev,
.primary-button-next {
  max-width: 80px;
  height: 100%;
  flex-basis: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: .625rem .9375rem;
  background-color: #5C8EE5;
}
.steps-buttons {
  display: none; 
}

.steps-item {
  max-width: 330px;
  height: auto;
}
.steps-num {
  font-family: 'Bebas Neue';
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee5;

  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: .0625rem;
  width: 100%;
  background-color: #ebebf0;
  margin-left: 30px;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin-top: 32px;
  margin-bottom: 13px;
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99;
  margin-top: 10px;
  margin-bottom: 21px;
}
.button-link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5c8ee5;
  text-decoration: none;

  display: flex;
  align-items: center;
}
.button-link::before {
  content: "";
  width: 40px;
  height: .0625rem;
  background-color: #5c8ee5;
  margin-right: 1.25rem;
  transition: width 0.2s;
}
.button-link:hover::before {
  width: 60px;
}



/*************** production ***************/
.production {
  margin-bottom: 9.375rem;
}
.production-container {
  padding-left: .4375rem;
}
.production-title {
  letter-spacing: .025rem;
  margin-bottom: 56px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
.card {
  flex-basis: 33.333%;
  border: .0625rem solid #ebebf0;
  text-decoration: none;
  position: relative;
  transition: border-color 0.9s;
  height: 37.0625rem;
}
.card:hover .card-title {
  color: #5c8ee5;
}
.card:hover {
  border-color: #5c8ee5;
}
.card-content {
  padding: 40px 20px 40px 50px;
  margin-bottom: 24.375rem;
}
.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292d33;
  margin: 0;
  transition: color 0.2s;
}
.card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828a99; 
  margin: 0;
  margin-top: .625rem;
}
.card-image {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}




/*************** trademarks ***************/
.trademarks {
  margin-bottom: 151.6px;
}

.trademarks-container {
  padding-left: 7px;
}

.trademarks-section-title {
  letter-spacing: .0437rem;
  margin-bottom: 54.6px;
}

.trademarks-cards {
  display: flex;
}

.trademarks-card {
  flex-basis: 50%;
  border: .0625rem solid #ebebf0;
  text-decoration: none;
  transition: border-color 0.2s;
  padding: 51.6px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 2fr;
  grid-template-areas: "logo title title" "logo text text";
  grid-column-gap: 4.375rem;

  min-height: 280px;
}

.trademarks-card:hover {
  border-color: #5C8EE5;
}

.trademarks-card-logo {
  grid-area: logo;
  fill: #828A99;
  transition: fill 0.2s;
}

.trademarks-card-logo-ag {
  width: 140px;
  height: 150px;
  padding-top: 30px;
  margin-left: 18px;
}

.trademarks-card-logo-ap {
  width: 140px;
  height: 160px;
  padding-top: 20px;
  margin-left: 21px;
}

.trademarks-card:hover .trademarks-card-logo {
  fill: #5C8EE5;
}
.trademarks-card:hover .trademarks-card-title {
  color: #5C8EE5;
}

.trademarks-card-title {
  grid-area: title;
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  letter-spacing: .0063rem;
  color: #292d33;
  transition: color 0.2s;
  margin-top: 0;
  margin-bottom: 11.9008px;
}

.trademarks-card-text {
  grid-area: text;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  margin: 0;
}




/*************** founder  ***************/
.founder {
  height: 660px;
  position: relative;
  margin-top: 0;
  margin-bottom: 148.8px;  
}

.founder-photo {
  height: 660px;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}

.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 49px;
}
.founder-content {
  max-width: 712px;
}
.founder-section-title {
  max-width: 480px;
  margin-bottom: 26px;
  letter-spacing: .0187rem;
}
.founder-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 161%;
  color: #828a99;
  letter-spacing: .0094rem;
}
.founder-text-top {
  margin-bottom: 1.5rem;
}
.founder-text-bottom {
  margin: 0;
  margin-bottom: 1.7813rem;
}
.founder-span-2 {
  display: none;
}



/*************** clients  ***************/
.clients {
  margin-bottom: 9.6rem;
}
.clients-container {
  padding-left: .5rem;
}
.clients-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 27.6px;
}
.clients-content {
  flex-basis: 50%;
}
.clients-section-title {
  margin-bottom: 45.2px;
  letter-spacing: .0187rem;
} 
.clients-list {
  list-style: none;
  padding: 0;
  margin: 0;
  columns: 2;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292d33;

  margin-bottom: 1.25rem;
}
.clients-list-item:nth-child(5),
.clients-list-item:nth-child(10) {
  margin-bottom: 0;
}
.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 20;
  position: relative;
  margin-top: 2.125rem;
}
.clients-logo-item {
  flex-basis: 33%;
  border: .0625rem solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 43.2px;
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.clients-logo-item:hover {
  filter: grayscale(0);
  /* border: .0625rem solid #5c8ee5; */
}





/*************** blog  ***************/
.blog {
  margin-bottom: 9.375rem;
}
.blog-container {
  padding-left: 7px;
  overflow: hidden;
}
.blog-section-title {
  letter-spacing: 0.4px;
  margin-bottom: 57px;
}
.blog-slider-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.blog-card {
  flex-basis: 50%;
  min-height: 400px;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3.125rem;
  position: relative;
}
.blog-card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(41, 45, 51, 0.6);
}
.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.blog-card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin: 0;
  margin-bottom: 10px;
}
.blog-card-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}









/*************** @media  ***************/
@media (max-width: 1710px) {
  html {
    font-size: .8438rem;
  }


  .founder-photo {
    left: -9.375rem;
  }

}




@media (max-width: 1460px) {
  html {
    font-size: .8125rem;
  }
  .header-logo {
    padding: 32px;
  }
  
  .logo-svg {
    max-width: 96px;
  }
  
  .header-nav {
    padding-left: 24px;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 16px;
  }

  .header-phone {
    margin-right: 24px;
  }

  .founder-photo {
    left: -15.625rem;
  }
  
}



@media (max-width: 1200px) {
  .container {
    max-width: 1152px;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 80px;
  }
  .header-nav {
    padding-left: 12.8px;
  }
  .navbar-button {
    padding-left: 24px;
    padding-right: 24px;
  }

  .slider-buttons {
    display: flex;
  }

  .steps-item {
    max-width: 30%;
  }

  .primary-buttons-wrapper {
    height: 40px;
    justify-content: flex-end;
  }

  .primary-button-prev,
  .primary-button-next {
    max-width: 60px;
  }

  .steps-buttons {
    display: flex;
  }


  .card {
    flex-basis: 50%;
  }

  .trademarks-card {
    grid-template-columns: auto auto;
    padding: 30px;
  }

  .trademarks-card-logo-ag,
  .trademarks-card-logo-ap {
    width: 100%;
  }


  .founder {
    height: 31.25rem;
  }
  .founder-photo {
    height: 31.25rem;
    left: -18.75rem;
  }
  .founder-content-wrapper {
    margin-top: .9375rem;
  }


  .clients-content {
  flex-basis: 60%;
  }

}



@media (max-width: 1024px) {
  .container {
    max-width: 1120px;
  }

}




@media (max-width: 992px) {
  html {
    font-size: .75rem;
  }
  .container {
    max-width: 960px;
  }

  .navbar {
    height: 5.7rem;
  }

  .header-logo {
    flex-grow: 1;
    justify-content: center;
    padding: 0;
    padding: 0 38px 0 40px;
  }
  .header-logo .logo-svg {
    width: 10rem;
    height: 8rem;
  }
  .logo-svg {
    max-width: 320px;
  }
  .header-nav {
    display: none;
  }

  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 26px 28px;
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    width: 100%;
    height: .0625rem;
    background-color: #fff;
  }
  .navbar-button {
    padding-left: 26.8px;
    padding-right: 26.8px;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #fff;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    padding-top: 112px;
    padding-left: 14.4px;
    padding-right: 14.4px;
    padding-bottom: 24px;
  }
  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu-nav {
    margin-left: -19.2px;
  }
  .mobile-menu-nav-item {
    margin-bottom: 48px;
  }

  .mobile-menu-nav,
  .mobile-submenu {
    list-style: none;
  }
  .mobile-menu-nav-link,
  .mobile-submenu-link {
    text-decoration: none;
  }
  .mobile-menu-nav-link {
    font-weight: 700;
    font-size: .875rem;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    padding-left: 32px;
    margin-top: 16px;
  }
  .mobile-submenu-item:not(last-child) {
    margin-bottom: 16px;
  }
  .mobile-submenu-link {
    font-weight: 400;
    font-size: .875rem;
    line-height: 160%;
    color: #828a99;
  }
  .mobile-phone {
    display: block;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 160%;
    color: #292d33;
    margin-left: 32px;
    border-top: .0625rem solid #ebebf0;
    padding-top: 48px;
  }
  .mobile-seporator {
    background-color: #ebebf0;
  }
  .mobile-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: #292d33;
    margin-left: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .mobile-info-address,
  .mobile-info-email {
    font-weight: 400;
    font-size: .875rem;
    line-height: 160%;
    display: flex;
    gap: 10px;
  }
  .mobile-info-address address {
    font-style: normal;
  }
  .mobile-info-email a {
    text-decoration: none;
    color: inherit;
  }
  .mobile-socials {
    margin-left: 32px;
    display: flex;
    gap: 15px;
  }
  .mobile-menu-line {
    transition: transform 0.3s;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(.75rem);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.75rem);
  }

  .steps-item {
    max-width: 45%;
  }

  .trademarks-section-title span {
    display: none;
  }

  .trademarks-cards {
    flex-direction: column;
  }

  .trademarks-card {
    min-height: auto;
  }

  .trademarks-card-logo-ag,
  .trademarks-card-logo-ap {
    padding-top: 0;
  }



  .founder {
    height: auto;
  }
  .founder-photo {
    height: 25rem;
    position: relative;
    left: 0;
    margin-bottom: 1.875rem;
  }
  .founder-content-wrapper {
    justify-content: start;
  }

  .founder-content {
    max-width: 100%;
  }
  .founder-section-title {
    max-width: 100%;
  }

  .founder-span-1 {
    display: none;
  }
  .founder-span-2 {
    display: block;
  }


  .clients-wrapper {
    flex-direction: column;
  }



  .blog-slider-wrapper {
    gap: 0;
  }

  .blog-card {
    flex-basis: 100%;
  }


  
}





@media (max-width: 768px) {
  .container {
    max-width: 800px;
  }
  .header-title {
    font-size: 64px;
  }
  .header-content {
    padding-top: 48px;
  }


  .section-title {
    font-size: 48px;
    margin-bottom: 32px;
  }


  .card {
    flex-basis: 100%;
  }


  .founder-photo {
    width: 100%;
    height: 28.125rem;
    object-fit: cover;
  }

  

}





@media (max-width: 576px) {
  .container {
    max-width: 90%;
  }
  .header-container {
    max-width: 95%;
  }
  .seporator {
    width: 8.375rem;
  }
  .section-title {
    font-size: 2.8rem;
    letter-spacing: .0625rem;
  }
  .header-title {
    font-size: 4rem;
    margin-top: 18.8px;
    margin-bottom: 16px;
    letter-spacing: .48px;
  }
  .header-text {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.025rem;
    word-spacing: -3.2px;
    margin-bottom: 35.4px;
  }
  .header-button {
    font-size: 14px;
    padding: 18.8px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
  }
  .header-content {
    padding-top: 24px;
  }


  .header-features {
    min-height: 150px;
    margin-top: 42px;
  }
  .header-features-item {
    padding: 28.4px 50px 10px 24px;
  }
  .header-features-text {
    margin: 0;
    margin-top: 1.25rem;
  }




  .section-steps {
    margin-top: 8.1rem;
    margin-bottom: 8.4rem;
  }
  .section-container {
    max-width: 95%;
  }
  .steps-section-title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .steps-slider-wrapper {
    margin-top: 0;
    margin-bottom: 18px;
  }
  .steps {
    margin-bottom: 24px;
  }
  .steps-item {
    max-width: 90%;
  }
  .steps-item span {
    font-size: 4.125rem;
  }
  .steps-num {
    font-size: 56px;
  }
  .steps-title {
    letter-spacing: -0.0437rem;
    margin-top: 8px;
    margin-bottom: 8.2px;
  }
  .steps-text {
    letter-spacing: .0913rem;
    line-height: 175%;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .button-link {
    letter-spacing: .0938rem;
  }
  .button-link::before {
    width: 48px;
  }


  .production {
    margin-bottom: 8rem;
  }
  .production-container {
    padding-left: 0;
  }
  .production-title {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .card {
    height: 430px;
  }
  .card-content {
    padding: 20px 20px 40px 23px;
  }
  .card-title {
    max-width: 280px;
    /* font-size: 24px; */
    line-height: 144%;
    letter-spacing: -0.3px;
    margin-bottom: .7625rem;
  }
  .card-text {
    letter-spacing: 1.3px;
    line-height: 180%;
    margin: 0;
  }
  .card-image {
    width: 85%;
  }


  .trademarks {
    margin-bottom: 100px;
  }
  .trademarks-container {
    margin-left: .75rem;
  }
  .trademarks-section-title {
    margin-top: 20px;
    margin-bottom: 34px;
  }
  .trademarks-card {
    grid-template-areas: "logo title" "text text";
    grid-column-gap: 0;
    min-height: 268px;
    padding: 28.4px;
    padding: 31.6px 20px 30px 30px;
  }
  .trademarks-card-logo-ag {
    margin-top: 15px;
    margin-left: 5px;
    margin-bottom: 39px;
    width: 78px;
    max-height: 67px;
  }
  .trademarks-card-logo-ap {
    margin-top: 8px;
    margin-left: 6px;
    margin-bottom: 30px;
    width: 78px;
    max-height: 80px;
  }
  .trademarks-card-title {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 0;
  }  
  .trademarks-card-text {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.0992px;
  }


  .clients-list {
    columns: 1;
  }
  .clients-logo-item {
    flex-basis: 50%;
  }


  .founder {
    margin-bottom: 100px;
  }
  .founder-photo {
    height: 297px;
    margin-bottom: 34px;
  }
  .founder-section-title {
    margin-top: 20px;
    margin-bottom: 0;
  }
  .founder-text-top {
    line-height: 182%;
    letter-spacing: 1.1008px;
    margin-top: 15px;
    margin-bottom: 14px;
  }
  .founder-text-bottom {
    line-height: 182%;
    letter-spacing: 1.1008px;
    margin-bottom: 22px;
  }

  .clients {
    margin-bottom: 10px;
  }
  .clients-container {
    padding-left: 0;
  }
  .clients-section-title {
    line-height: 126%;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 34px;
  }
  .clients-list-item {
    letter-spacing: 1.3008px;
    margin-bottom: 15px;
  }
  .clients-list-item:nth-child(5) {
    margin-bottom: .9375rem;
  }
  .clients-logo-list {
    margin-top: .5rem;
  }
  .clients-logo-item  {
    padding: 24px;
    padding-top: 30px;
  }
  
  .clients-logo {
    width: 50px;
    height: 50px;
  }


  .blog-container {
    padding-left: 0;
  }

  .blog-section-title {
    margin-top: 20px;
  }


  .blog-card {
    min-height: 195px;
    padding: 1.4rem;
  }
  .blog-card-title {
    line-height:110%;
    margin: 0;
  }
  .blog-card-text {
    display: none;
  }
  .blog-slider-footer {
    margin-top: 24px;
  }

}





@media (max-width: 480px) {
}

@media (max-width: 320px) { 
}